* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fbfbfb;
}

nav {
  background-color: #eee;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(68, 68, 68, .5);
  max-width: fit-content;
  margin: 1rem auto;
  padding-bottom: .3rem;
}

li {
  list-style: none;
}

.nav-icon {
  margin-right: .5rem;
}

button {
  border: none;
}

.light-mode-btn, .dark-mode-btn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .5rem 1.25rem;
  border-radius: .25rem;
  color: #4F4F4F;
}

.light-mode-btn {
  margin-right: .5rem;
  box-shadow: 2px 2px 4px rgba(100, 100, 100, .5) inset;
}

.switch-mode-box {
  border-radius: .25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .1rem;
  margin: .2rem .5rem ;
}

a:link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  padding: .5rem 3rem .5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  color: #4F4F4F;
  transition: all .25s ease-in-out;
}

a:visited {
  color: #4F4F4F;
}

a:focus {

}

a:hover {
  background-color: #494949;
  color: #eee;
}

li:first-child a:hover{
  border-radius: .5rem .5rem 0 0;
}

li:last-child a:hover {
  border-radius: 0 0 .5rem .5rem;
}

a:active {
  background-color: #333333;
  color: #fff;
}

a.active {
  box-shadow: 1px 1px 2px rgba(128, 128, 128, .7) inset;
  background-color: #ccc;
  color: #fff;
}

a.active-first {
  border-radius: .5rem .5rem 0 0;
}
