* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.container {
    border: 1px solid gray;
    background-color: #f3f3f3;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.box {
    border-radius: 4px;
    border: 1px dashed #444;
    display: flex;
    align-items: center; /* vertical align */
    justify-content: center; /* horizontal align */
}

.box-p {
    color: #fff;
    font-weight: 600;
}

.box-1 {
    background-color: lightslategrey;
    height: 150px;
    width: 300px;
}

.box-2 {
    background-color: chocolate;
    height: 100px;
    width: 300px;
}

.box-3 {
    background-color: lightsalmon;
    height: 200px;
    width: 100px;
}

.box-1-no-height {
    background-color: lightslategrey;
    width: 300px;
}

.box-2-no-height {
    background-color: chocolate;
    width: 300px;
}

.box-3-no-height {
    background-color: lightsalmon;
    width: 100px;
}

.flex-container {
    display: flex;
    width: 100%;
}
.flex-container-wrap {
    flex-wrap: wrap;
}

.flex-container-column {
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container-center {
    justify-content: center;
}

.flex-container-between {
    justify-content: space-between;
}

.flex-container-around {

    justify-content: space-around;
}

.flex-container-evenly {
    justify-content: space-evenly;
}

.flex-container-align-end {
    align-items: flex-end;
}

.flex-container-align-center {
    align-items: center;
}

.box-3-no-height {
    height: 150px;
}

.flex-container-align-stretch {
    align-items: stretch;
}