* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: gray;
}
.container {
    padding: 5px;
}

.calculator {
    flex-direction: column;
    margin: auto;
    padding: auto;
    width: 320px;
    height: 420px;
    border-radius: 4px;
    border: 1px solid #222;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

.display {
    height: 20%;
    display: inline-block;
    width: 100%;
    padding: 1rem 0.5rem;
}

.result, .input {
    color: #fff;
    text-align: right;
    margin-bottom: 0.5%;
}

.result {
    font-size: 1.25rem;
}

.keyboard {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.row {
    height: 20%;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.key {
    color: #000;
    background-color: #d8d9db;
    width: 24.5%;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key p {
    margin: auto;
    padding: auto;
}

.key-c {
    width: 49.7%;
}

.key-0 {
    width: 74.8%;
}

.key:hover {
    background-color: #ebebeb;
}

.key:active {
    background-color: #bbbcbe;
}

.key:last-child {
    background-color: #df974c;
}

.key:last-child:hover {
    background-color: #dfb07e;
    color: #fff;
}

.key:last-child:active {
    background-color: #dd8d37;
    color: #fff;
}